{

	"config":{

		"token": "YOUR_TOKEN",
        	"app_id": "YOUR_DOMAIN",

		"boxes": [
			{
				"name": "application",
				"source": "https://github.com/sergiovilar/dg-application-server.git"
			}

		]

	},

	"boxes":{

		"application": "scalable"

	}

}
